$brand-primary:                  #545EE1;

// Text colors
$text-color:                     $gray-dark;

// Border radius
$border-radius-normal:           0px;

// Input field
$input-border-radius-normal:            $border-radius-normal;
$input-padding-x:                       10px;
$input-padding-y:                       15px;
